TestWindows_WCF_CheckSalud/Connected Services/ProxyMedico/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioMedico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioMedico_ConsultarMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMedico" />
  </wsdl:message>
  <wsdl:message name="IServicioMedico_ConsultarMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMedico_ListarMedicos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMedicos" />
  </wsdl:message>
  <wsdl:message name="IServicioMedico_ListarMedicos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMedicosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMedico_InsertarMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarMedico" />
  </wsdl:message>
  <wsdl:message name="IServicioMedico_InsertarMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMedico_ActualizarMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarMedico" />
  </wsdl:message>
  <wsdl:message name="IServicioMedico_ActualizarMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMedico_EliminarMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMedico" />
  </wsdl:message>
  <wsdl:message name="IServicioMedico_EliminarMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMedicoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioMedico">
    <wsdl:operation name="ConsultarMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMedico/ConsultarMedico" message="tns:IServicioMedico_ConsultarMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMedico/ConsultarMedicoResponse" message="tns:IServicioMedico_ConsultarMedico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMedicos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMedico/ListarMedicos" message="tns:IServicioMedico_ListarMedicos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMedico/ListarMedicosResponse" message="tns:IServicioMedico_ListarMedicos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMedico/InsertarMedico" message="tns:IServicioMedico_InsertarMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMedico/InsertarMedicoResponse" message="tns:IServicioMedico_InsertarMedico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMedico/ActualizarMedico" message="tns:IServicioMedico_ActualizarMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMedico/ActualizarMedicoResponse" message="tns:IServicioMedico_ActualizarMedico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMedico/EliminarMedico" message="tns:IServicioMedico_EliminarMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMedico/EliminarMedicoResponse" message="tns:IServicioMedico_EliminarMedico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioMedico" type="tns:IServicioMedico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarMedico">
      <soap:operation soapAction="http://tempuri.org/IServicioMedico/ConsultarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMedicos">
      <soap:operation soapAction="http://tempuri.org/IServicioMedico/ListarMedicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarMedico">
      <soap:operation soapAction="http://tempuri.org/IServicioMedico/InsertarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarMedico">
      <soap:operation soapAction="http://tempuri.org/IServicioMedico/ActualizarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMedico">
      <soap:operation soapAction="http://tempuri.org/IServicioMedico/EliminarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioMedico">
    <wsdl:port name="BasicHttpBinding_IServicioMedico" binding="tns:BasicHttpBinding_IServicioMedico">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_CheckSalud/ServicioMedico/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>