TestWindows_WCF_CheckSalud/Connected Services/ProxyMedico/WCF_CheckSalud.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MedicoDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fec_Reg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fech_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apeMedico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellNomMedico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codEspecialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codMedico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direcMedico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dniMedic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailMedico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:short" />
      <xs:element minOccurs="0" name="fec_ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fotoMedico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomMedico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numColegiatura" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicoDC" nillable="true" type="tns:MedicoDC" />
  <xs:complexType name="ArrayOfMedicoDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicoDC" nillable="true" type="tns:MedicoDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicoDC" nillable="true" type="tns:ArrayOfMedicoDC" />
</xs:schema>