TestWindows_WCF_CheckSalud/Connected Services/ProxyUsuario/WCF_CheckSalud.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Est_Usuario" type="xs:short" />
      <xs:element minOccurs="0" name="Fec_Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Login_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Niv_Usuario" type="xs:short" />
      <xs:element minOccurs="0" name="Pass_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDC" nillable="true" type="tns:UsuarioDC" />
</xs:schema>