TestWindows_WCF_CheckSalud/Connected Services/ProxyResultado/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" />
  <xs:element name="ConsultarResultado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResultadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" minOccurs="0" name="ConsultarResultadoResult" nillable="true" type="q1:ResultadoDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResultados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResultadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" minOccurs="0" name="ListarResultadosResult" nillable="true" type="q2:ArrayOfResultadoDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarResultado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" minOccurs="0" name="objResultadoDC" nillable="true" type="q3:ResultadoDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarResultadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarResultadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResultado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" minOccurs="0" name="objResultadoDC" nillable="true" type="q4:ResultadoDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResultadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarResultadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResultado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResultadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarResultadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCboEnfermedad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCboEnfermedadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" minOccurs="0" name="ListarCboEnfermedadResult" nillable="true" type="q5:ArrayOfCboEnfermedadDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCboPaciente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCboPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" minOccurs="0" name="ListarCboPacienteResult" nillable="true" type="q6:ArrayOfCboPacienteDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCboMedicoDC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCboMedicoDCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" minOccurs="0" name="listarCboMedicoDCResult" nillable="true" type="q7:ArrayOfCboMedicoDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCboAuditores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCboAuditoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" minOccurs="0" name="listarCboAuditoresResult" nillable="true" type="q8:ArrayOfCboAuditorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>