TestWindows_WCF_CheckSalud/Connected Services/ProxyResultado/WCF_CheckSalud.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="NomApePaciente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomEnfermedad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="altura" type="xs:float" />
      <xs:element minOccurs="0" name="audicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codAnalisis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codEnfermedad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codEvaluacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codPaciente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codResultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ekg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="peso" type="xs:float" />
      <xs:element minOccurs="0" name="psicologia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rayosX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recomendaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sangre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="spirometria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vista" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoDC" nillable="true" type="tns:ResultadoDC" />
  <xs:complexType name="ArrayOfResultadoDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultadoDC" nillable="true" type="tns:ResultadoDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultadoDC" nillable="true" type="tns:ArrayOfResultadoDC" />
  <xs:complexType name="ArrayOfCboEnfermedadDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CboEnfermedadDC" nillable="true" type="tns:CboEnfermedadDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCboEnfermedadDC" nillable="true" type="tns:ArrayOfCboEnfermedadDC" />
  <xs:complexType name="CboEnfermedadDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="codEnfermedad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descEnfermedad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CboEnfermedadDC" nillable="true" type="tns:CboEnfermedadDC" />
  <xs:complexType name="ArrayOfCboPacienteDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CboPacienteDC" nillable="true" type="tns:CboPacienteDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCboPacienteDC" nillable="true" type="tns:ArrayOfCboPacienteDC" />
  <xs:complexType name="CboPacienteDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeNomPaciente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codPaciente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CboPacienteDC" nillable="true" type="tns:CboPacienteDC" />
  <xs:complexType name="ArrayOfCboMedicoDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CboMedicoDC" nillable="true" type="tns:CboMedicoDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCboMedicoDC" nillable="true" type="tns:ArrayOfCboMedicoDC" />
  <xs:complexType name="CboMedicoDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeNomMedico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codMedico" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CboMedicoDC" nillable="true" type="tns:CboMedicoDC" />
  <xs:complexType name="ArrayOfCboAuditorDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CboAuditorDC" nillable="true" type="tns:CboAuditorDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCboAuditorDC" nillable="true" type="tns:ArrayOfCboAuditorDC" />
  <xs:complexType name="CboAuditorDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeNomAuditor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codAuditor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CboAuditorDC" nillable="true" type="tns:CboAuditorDC" />
</xs:schema>