TestWindows_WCF_CheckSalud/Connected Services/ProxyUbicacion/WCF_CheckSalud.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUbicacionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UbicacionDC" nillable="true" type="tns:UbicacionDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUbicacionDC" nillable="true" type="tns:ArrayOfUbicacionDC" />
  <xs:complexType name="UbicacionDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Ubigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UbicacionDC" nillable="true" type="tns:UbicacionDC" />
</xs:schema>