TestWindows_WCF_CheckSalud/Connected Services/ProxyEspecialidad/WCF_CheckSalud.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEspecialidadDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EspecialidadDC" nillable="true" type="tns:EspecialidadDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspecialidadDC" nillable="true" type="tns:ArrayOfEspecialidadDC" />
  <xs:complexType name="EspecialidadDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="codEspecialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descEspecialidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EspecialidadDC" nillable="true" type="tns:EspecialidadDC" />
</xs:schema>