TestWindows_WCF_CheckSalud/Connected Services/ProxyAnalisis/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioAnalisis" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioAnalisis_InsertarAnalisis_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAnalisis" />
  </wsdl:message>
  <wsdl:message name="IServicioAnalisis_InsertarAnalisis_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAnalisisResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAnalisis_ConsultarUltAnalisis_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUltAnalisis" />
  </wsdl:message>
  <wsdl:message name="IServicioAnalisis_ConsultarUltAnalisis_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUltAnalisisResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAnalisis_ListarAnalisis_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAnalisis" />
  </wsdl:message>
  <wsdl:message name="IServicioAnalisis_ListarAnalisis_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAnalisisResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioAnalisis">
    <wsdl:operation name="InsertarAnalisis">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAnalisis/InsertarAnalisis" message="tns:IServicioAnalisis_InsertarAnalisis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAnalisis/InsertarAnalisisResponse" message="tns:IServicioAnalisis_InsertarAnalisis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUltAnalisis">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAnalisis/ConsultarUltAnalisis" message="tns:IServicioAnalisis_ConsultarUltAnalisis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAnalisis/ConsultarUltAnalisisResponse" message="tns:IServicioAnalisis_ConsultarUltAnalisis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAnalisis">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAnalisis/ListarAnalisis" message="tns:IServicioAnalisis_ListarAnalisis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAnalisis/ListarAnalisisResponse" message="tns:IServicioAnalisis_ListarAnalisis_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioAnalisis" type="tns:IServicioAnalisis">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarAnalisis">
      <soap:operation soapAction="http://tempuri.org/IServicioAnalisis/InsertarAnalisis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUltAnalisis">
      <soap:operation soapAction="http://tempuri.org/IServicioAnalisis/ConsultarUltAnalisis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAnalisis">
      <soap:operation soapAction="http://tempuri.org/IServicioAnalisis/ListarAnalisis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioAnalisis">
    <wsdl:port name="BasicHttpBinding_IServicioAnalisis" binding="tns:BasicHttpBinding_IServicioAnalisis">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_CheckSalud/ServicioAnalisis/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>