TestWindows_WCF_CheckSalud/Connected Services/ProxyAnalisis/WCF_CheckSalud.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AnalisisDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:short" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codAnalisis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="costo" type="xs:double" />
      <xs:element minOccurs="0" name="descAnalisis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnalisisDC" nillable="true" type="tns:AnalisisDC" />
  <xs:complexType name="ArrayOfAnalisisDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnalisisDC" nillable="true" type="tns:AnalisisDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnalisisDC" nillable="true" type="tns:ArrayOfAnalisisDC" />
</xs:schema>