TestWindows_WCF_CheckSalud/Connected Services/ProxyEvaluacion/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioEvaluacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioEvaluacion_InsertarEvaluacion_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarEvaluacion" />
  </wsdl:message>
  <wsdl:message name="IServicioEvaluacion_InsertarEvaluacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarEvaluacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvaluacion_ConsultarUltEvaluacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUltEvaluacion" />
  </wsdl:message>
  <wsdl:message name="IServicioEvaluacion_ConsultarUltEvaluacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUltEvaluacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEvaluacion_ListarEvalucion_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEvalucion" />
  </wsdl:message>
  <wsdl:message name="IServicioEvaluacion_ListarEvalucion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEvalucionResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioEvaluacion">
    <wsdl:operation name="InsertarEvaluacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvaluacion/InsertarEvaluacion" message="tns:IServicioEvaluacion_InsertarEvaluacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvaluacion/InsertarEvaluacionResponse" message="tns:IServicioEvaluacion_InsertarEvaluacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUltEvaluacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvaluacion/ConsultarUltEvaluacion" message="tns:IServicioEvaluacion_ConsultarUltEvaluacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvaluacion/ConsultarUltEvaluacionResponse" message="tns:IServicioEvaluacion_ConsultarUltEvaluacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEvalucion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEvaluacion/ListarEvalucion" message="tns:IServicioEvaluacion_ListarEvalucion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEvaluacion/ListarEvalucionResponse" message="tns:IServicioEvaluacion_ListarEvalucion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioEvaluacion" type="tns:IServicioEvaluacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarEvaluacion">
      <soap:operation soapAction="http://tempuri.org/IServicioEvaluacion/InsertarEvaluacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUltEvaluacion">
      <soap:operation soapAction="http://tempuri.org/IServicioEvaluacion/ConsultarUltEvaluacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEvalucion">
      <soap:operation soapAction="http://tempuri.org/IServicioEvaluacion/ListarEvalucion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioEvaluacion">
    <wsdl:port name="BasicHttpBinding_IServicioEvaluacion" binding="tns:BasicHttpBinding_IServicioEvaluacion">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_CheckSalud/ServicioEvaluacion/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>