TestWindows_WCF_CheckSalud/Connected Services/ProxyEvaluacion/WCF_CheckSalud.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_CheckSalud" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EvaluacionDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:short" />
      <xs:element minOccurs="0" name="Fec_Eva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codAuditor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codEvaluacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codMedico" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EvaluacionDC" nillable="true" type="tns:EvaluacionDC" />
  <xs:complexType name="ArrayOfEvaluacionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EvaluacionDC" nillable="true" type="tns:EvaluacionDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvaluacionDC" nillable="true" type="tns:ArrayOfEvaluacionDC" />
</xs:schema>